@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.phone {
  padding: 35px 16px 56px;
  max-width: 1136px;
  margin: 0 auto;

  margin: 0 auto;

  text-align: left;

  @include onTablet {
    padding: 60px 24px 64px;
  }

  &__back-link {
    position: relative;
    display: block;
    margin-bottom: 16px;
    padding-left: 20px;

    color: $gray-secondary;
    text-decoration: none;

    &:hover {
      color: $gray-primary
    }

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      display: inline-block;
      width: 16px;
      height: 16px;

      background-image: url(../../images/Icons/ArrowBack.svg);
      background-size: cover;
    }
  }

  &__title {
    margin-bottom: 40px;

    font-size: 22px;
    font-weight: 800;
    color: $gray-primary;

    @include onTablet {
      font-size: 32px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;

    @include onTablet {
      flex-direction: row;
      align-items: inherit;
      justify-content: space-evenly;
      gap: 24px;
      margin-bottom: 64px;
    }

    @include onDesctop {
      gap: 64px;
      margin-bottom: 80px;
    }
  }

  &__photos {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 45px;

    @include onTablet {
      flex-direction: row-reverse;
    }

    &--small {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 275px;

      @include onTablet {
        flex-direction: column;
        justify-content: start;

        width: 50px;
        height: 275px;

        margin-left: 20px;
      }

      @include onDesctop {
        width: 65px;
        height: 445px;
      }
    }
  }

  &__photo {
    &--big {
      width: 275px;
      height: 275px;

      object-fit: contain;

      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 0;
      }

      @include onDesctop {
        width: 445px;
        height: 445px;
      }
    }

    &--small {
      width: 50px;
      height: 50px;

      object-fit: contain;

      border: 1px solid $shadow;

      &:hover,
      &:active {
        border-color: black;
      }

      @include onTablet {
        width: 35px;
        height: 35px;

        margin-bottom: 8px;
      }

      @include onDesctop {
        width: 65px;
        height: 65px;

        margin-bottom: 17px;
      }
    }
  }

  &__description {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesctop {
      display: flex;
      justify-content: space-between;
      gap: 64px;
      margin-bottom: 80px;
    }
  }

  &__about {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesctop {
      margin-bottom: 0;
    }
  }
}


.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0 0 40px 0;

  &__home {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/Home.svg');
    margin-right: 8px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/ArrowForward.svg');
    margin-right: 8px;
  }

  &__phones {
    text-decoration: none;
    font-weight: 500;
    color: $gray-primary;
    margin-right: 8px;
  }
}
