@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.phone {
  padding: 35px 16px 56px;
  max-width: 1136px;
  margin: 0 auto;

  margin: 0 auto;

  text-align: left;

  @include onTablet {
    padding: 60px 24px 64px;
  }

  &__back-link {
    position: relative;
    display: block;
    margin-bottom: 16px;
    padding-left: 20px;

    color: $gray-secondary;
    text-decoration: none;

    &:hover {
      color: $gray-primary
    }

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      display: inline-block;
      width: 16px;
      height: 16px;

      background-image: url(../../images/Icons/ArrowBack.svg);
      background-size: cover;
    }
  }

  &__title {
    margin-bottom: 40px;

    font-size: 22px;
    font-weight: 800;
    color: $gray-primary;

    @include onTablet {
      font-size: 32px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;

    @include onTablet {
      flex-direction: row;
      align-items: inherit;
      justify-content: space-evenly;
      gap: 24px;
      margin-bottom: 64px;
    }

    @include onDesctop {
      gap: 64px;
      margin-bottom: 80px;
    }
  }

  &__description {
    margin-bottom: 56px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      gap: 64px;
      margin-bottom: 64px;
    }

    @include onDesctop {
      margin-bottom: 80px;
    }
  }

  &__about {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesctop {
      margin-bottom: 0;
    }
  }
}


.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0 0 40px 0;

  &__home {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/Home.svg');
    margin-right: 8px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/ArrowForward.svg');
    margin-right: 8px;
  }

  &__category {
    text-transform: capitalize;
  }

  &__phones {
    text-decoration: none;
    font-weight: 500;
    color: $gray-primary;
    margin-right: 8px;
  }
}

.about {
  font-family: "Mont", sans-serif;

  max-width: 60%;

  &__header {
    display: block;

    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    padding-bottom: 16px;
    margin-bottom: 32px;

    color: $gray-primary;

    border-bottom: 1px solid #E2E6E9;
  }

  &__subheader {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;

    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;

    line-height: 21px;

    margin-bottom: 32px;

    color: #89939A;
  }

  &__tech-specs {
    min-width: 250px;
  }
}

.tech-specs {


  &__header {
    display: block;

    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    padding-bottom: 16px;
    margin-bottom: 30px;

    color: $gray-primary;

    border-bottom: 1px solid #E2E6E9;
  }
}

.spek {
  font-family: "Mont", sans-serif;

  display: flex;
  justify-content: space-between;
  align-content: center;

  margin-bottom: 8px;

  &__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;

    color: $gray-secondary;
  }

  &__value {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;

    color: $gray-primary;
  }


  @include onDesctop {
    width: 400px;
  }
}
