@import "../../styles/utils/mixins";
@import "../../styles/utils/vars";

#main {
  display: table;
  width: 100%;
  height: calc(100vh - 48px - 283px);
  text-align: center;

  @include onTablet {
    height: calc(100vh - 48px - 101px);
  }

  @include onDesctop {
    height: calc(100vh - 64px - 101px);
  }

  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;

  transition: all 0.6s;
}

.fof {
  display: table-cell;
  vertical-align: middle;

  &__title {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type 0.5s alternate infinite;
  }
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
