@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.buttons {
  display: flex;
}

.icon-wrapper {
  display: none;

  justify-content: center;
  align-items: center;

  width: $header-height;
  height: $header-height;

  cursor: pointer;

  border: solid 1px $shadow;

  &:hover {
    border-color: $gray-primary;
  }

  @include onTablet {
    display: flex;
  }

  @include onDesctop {
    width: $header-height-desktop;
    height: $header-height-desktop;

    .ellipse-for-cart {
      top: 20px;
      right: 18px;
    }
  }

  &--menu {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      display: none;
    }
  }
}

.icon-wrapper.active,
.icon-wrapper.is-active {
  border-bottom: 3px solid $gray-primary;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  &--menu {
    background-image: url(../../images/Icons/Menu.svg);
  }

  &--menu.is-active,
  &--close {
    background-image: url(../../images/Icons/Close.svg);
  }

  &--favourites {
    background-image: url(../../images/Icons/Favourites.svg);
    position: relative;
  }

  &--cart {
    background-image: url(../../images/Icons/Cart.svg);
  }
}

.ellipse {
  @include description-text();
  font-size: 8px;
  color: white;
  background-image: url(../../images/Icons/Ellipse.svg);
  position: absolute;
  top: -3px;
  right: -5px;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse-for-cart {
  @include description-text();
  font-size: 8px;
  color: white;
  background-image: url(../../images/Icons/Ellipse.svg);
  position: absolute;
  top: 13px;
  right: 11px;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
