@import '../../styles/utils/mixins';

.grid {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(auto-fill, 270px);

  @include onDesctop {
    max-width: 1200px;
  }

  grid-row-gap: 40px;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1200px;
}
