@import '../../styles/utils/mixins';

.grid {
  display: grid;

  @include onDesctop {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
  }

  @include onTabletGrid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 768px;
  }

  @include onMobile {
    grid-template-columns: repeat(2, 1fr);
    max-width: 255px;
  }

  grid-row-gap: 40px;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1200px;
  margin-top: 50px;
}
