@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.logo {
  display: flex;

  height: $header-height;
  width: 2 * $header-height;

  justify-content: center;
  align-items: center;

  &__img {
    display: block;

    margin: 0 auto;

    width: 1.33 * $header-height;
  }

  @include onDesctop {
    height: $header-height-desktop;
    width: 2 * $header-height-desktop;

    &__img {
      width: 1.25 * $header-height-desktop;
    }
  }
}
