@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';
@import '../../styles/_fonts';

.select {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 24px;
  user-select: none;
  font-family: "Mont", sans-serif;

  &__label {
    text-align: left;
    width: max-content;
    margin-bottom: 5px;
    color: $description-color;
  }

  &__select {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    position: relative;
    width: 256px;
    height: 40px;
    border: 1px solid $description-color;

    @include onTablet {
      width: 128px;
    }

    &--default {
      text-align: left;
    }

    &-items {
      display: flex;
      position: absolute;
      margin-top: 63px;
      flex-direction: column;
      background: #fff;
    }

    &:after {
      content: "";
      background-image: url(../../images/Icons/ArrowBack.svg);
      background-repeat: no-repeat;
      transform: rotate(270deg);
      position: relative;
      left: 190px;
      width: 15px;
      height: 15px;

      @include onTablet {
        left: 63px;
      }
    }
  }

  &__item {
    padding: 12px 16px;
    height: 40px;
    width: 256px;
    list-style-type: none;
    text-align: left;
    border-right: 1px solid $like-border-color;
    border-left: 1px solid $like-border-color;
    border-bottom: 1px solid $like-border-color;
    cursor: pointer;

    background-color: #ffffff;
    cursor: pointer;
    user-select: none;

    z-index: 1;

    @include onTablet {
      width: 128px;
    }

    &:first-child {
      border-top: 1px solid $like-border-color;
    }

    &:hover {
      background-color: $like-border-color;
    }
  }
}
