@import '../../styles/utils/mixins.scss';

.fav_text {
  @include headerText;
  margin: 80px 152px 0 152px;

  &--items {
    @include title-text();
    font-weight: 600;
    color: #89939A;
    margin: 8px 152px 0 152px;
  }
}

.breadcrumbs1 {
  display: flex;
  flex-direction: row;
  margin: 24px 0 40px 150px;

  &__home {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/Home.svg');
    margin-right: 8px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/ArrowForward.svg');
    margin-right: 8px;

  }
}
