@import '../../styles/utils/vars';

.filter {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-left: 150px;
  
  &__per-page-label {
    background-color: #d21f1f;
    text-align: left;
  }

  &__per-page-select {
    width: 128px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid $description-color;
    padding-left: 12px;
  }
}
