@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onTabletGrid {
  @media (min-width: 640px) and (max-width:1199px) {
    @content;
  }
}


@mixin onDesctop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 320px) and (max-width: 639px) {
    @content;
  }
}


// card mixins
@mixin text {
  font-family: 'Mont', sans-serif;
  font-style: normal;
}

@mixin title-text {
  @include text();
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}

@mixin new-price-text {
  @include text();
  font-size: 22px;
  font-weight: 800;
  line-height: 140%;
}

@mixin old-price-text {
  @include text();
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
}

@mixin description-text {
  @include text();
  font-size: 12px;
  font-weight: 600;
  line-height: normal;

}

@mixin button-text {
  @include text();
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
