$shadow: #e2e6e9;
$gray-primary: #313237;
$gray-secondary: #89939a;

$header-height: 48px;
$header-height-desktop: 64px;

$categories-phones-background: #6D6474;
$categories-accessories-background: #D53C51;
$categories-tablets-background: #8D8D92;

//card vars
$c-gray: #eee;
$c-white: #FFFFFF;
$text-color:#313237;
$description-color:#89939A;
$border-color: #E2E6E9;
$like-border-color: #B4BDC3;

// burger-menu
$burger-background: #f8f8f8;

// phone colors
$phone-silver: #E4E4E2;
$phone-gold: #F5DDC5;
$phone-rosegold: #E6C7C2;
$phone-black: #000000;
$phone-spacegray: #25282A;
$phone-yellow: #FFE681;
$phone-red: #A5282C;
$phone-white: #F9F6EF;
$phone-coral: #EE7762;
$phone-midnightgreen: #4E5851;
$phone-midnight: #00040d;
$phone-sierrablue: #BFDAF7;
$phone-starlight: #F8F9EC;
$phone-pink: #FFC0CB;
$phone-graphite: #383428;
$phone-purple: #B8AFE6;
$phone-green: #E1F8DC;
