@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.cart {
  min-height: calc(100vh - 48px - 283px);

  @include onTablet {
    min-height: calc(100vh - 48px - 101px);
  }

  @include onDesctop {
    min-height: calc(100vh - 64px - 101px);
  }


  padding: 24px 16px 56px;

  text-align: left;

  @include onTablet {
    padding: 40px 24px 64px;
  }

  @include onDesctop {
    padding: 40px 32px 64px;
  }

  &__link {
    position: relative;
    display: block;
    margin-bottom: 24px;
    padding-left: 20px;

    color: $gray-secondary;
    text-decoration: none;

    &:hover {
      color: $gray-primary
    }

    @include onTablet {
      margin-bottom: 16px;
    }

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      display: inline-block;
      width: 16px;
      height: 16px;

      background-image: url(../../images/Icons/ArrowBack.svg);
      background-size: cover;
    }
  }

  &__title {
    margin-bottom: 32px;

    font-weight: 800;
    color: $gray-primary;
  }

  &__wrapper {
    @include onDesctop {
      display: flex;
    }
  }

  &__items {
    margin-bottom: 32px;
    width: 100%;

    @include onDesctop {
      margin-right: 16px;
    }
  }

  &__item {
    margin-bottom: 16px;
  }

  &__total {
    padding: 24px;
    text-align: center;
    border: 1px solid $shadow;
  }

  &__price {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    color: $gray-primary;
  }

  &__amount {
    display: block;
    margin: auto;
    margin-bottom: 16px;
    padding-bottom: 16px;
    width: 100%;

    font-size: 14px;
    font-weight: 600;
    color: $gray-secondary;
    border-bottom: 1px solid $shadow;

    @include onDesctop {
      width: 320px;
    }
  }

  &__button {
    height: 48px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: $gray-primary;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $gray-primary;
      border-color: $gray-primary;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0px 2px 4px $shadow;
    }

    @include onDesctop {
      width: 320px;
    }
  }
}
