@import '../../styles/index.scss';

.carousel {
  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__title {
    font-size: 22px;
    font-weight: 800;
    color: $gray-primary;
  }

  &__slider {
    display: flex;
    gap: 16px;
  }

  &__button {
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid $shadow;

    &:hover {
      border-color: $gray-primary;
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0px 2px 4px $shadow;
    }
  }

  &__button-icon {
    display: block;
    width: 16px;
    height: 16px;

    &--left {
      background-image: url(../../images/Icons/ArrowBack.svg);
    }

    &--right {
      background-image: url(../../images/Icons/ArrowForward.svg);
    }
  }

  &__content {
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__scroll-wrapper {
    display: flex;
    gap: 16px;
  }
}
