@import '../../styles/utils/vars';

.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &__label {
    text-align: left;
    width: max-content;
    margin-bottom: 5px;
  }

  &__control {
    display: flex;
    position: relative;
  }

  &__input {
    padding: 12px 25px 12px 16px;
    width: 256px;
    height: 40px;
    border: 1px solid $description-color;
    cursor: pointer;
    outline: none;
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 10px;
    width: 15px;
    height: 15px;
    background-image: url(../../images/Icons/Close.svg);
    background-size: cover;
  }
}
