@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.modal {
  display: none;

  &__content {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 0 0 16px;

    min-height: 200px;
    min-width: 300px;

    z-index: 333;

    background-color: #f8f8f8;
    border: solid 1px $shadow;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;

    padding: 3px;

    width: 100%;
  }

  &__header .icon {
    border: solid 1px $shadow;

    cursor: pointer;
  }

  &__message {
    padding: 16px;
  }

  &__button {
    padding: 16px;

    cursor: pointer;

    height: 48px;
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: $gray-primary;
  }
}


.modal.is-active {
  display: block;

  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  z-index: 330;

  width: 100vw;
  height: 100vh;

  background-color: rgba($color: #000000, $alpha: 0.3);
}
