.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 24px 0 40px 150px;

  &__home {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/Home.svg');
    margin-right: 8px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url('../../images/Icons/ArrowForward.svg');
    margin-right: 8px;

  }
}
