@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.tabletspage {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 48px - 283px);

  align-items: center;
  justify-content: center;

  @include onTablet {
    min-height: calc(100vh - 48px - 101px);
  }

  @include onDesctop {
    min-height: calc(100vh - 64px - 101px);
  }
}

.breadcrumbs1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 24px 0 40px 16px;

  @include onTablet {
    margin: 24px 0 40px 24px;
  }

  @include onDesctop {
    margin: 24px 0 40px 32px;
  }

  &__home {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../../images/Icons/Home.svg");
    margin-right: 8px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url("../../images/Icons/ArrowForward.svg");
    margin-right: 8px;
  }

  &__text {
    color: $description-color;
  }
}
