@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.home-page {
  @include onTablet {
    padding: 0 24px;
  }

  @include onDesctop {
    padding: 0 32px;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.32px;
    color: $text-color;

    text-align: left;

    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__slider {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesctop {
      margin-bottom: 80px;
    }
  }

  &__new {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesctop {
      margin-bottom: 80px;
    }
  }

  &__category {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesctop {
      margin-bottom: 80px;
    }
  }

  &__hot {
    margin-bottom: 64px;

    @include onDesctop {
      margin-bottom: 80px;
    }
  }
}
